
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">Люди, которые <mark>изменили свою жизнь к лучшему</mark> с Money Amulet</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Teresa Lawson,</div>
                    <div class="commits__age">37 лет</div>
                    <div class="commits__description">
                        Я из очень бедной семьи. Я всегда хотела жить лучше. Но что бы я ни делала, сколько ни работала – всегда не хватало денег. По выходным я убиралась в богатых домах. И в одном из них случайно подслушала разговор хозяев о Money Amulet. Мне стало интересно, что это за вещь, приносящая деньги. Я нашла Money Amulet в интернете и долго размышляла купить себе еды на несколько дней или амулет. Мне страшно вспоминать, стоя в собственной просторной квартире, что я могла сделать неправильный выбор. В тяжелые времена я не могла себе позволить есть каждый день, а сейчас владею собственным рестораном. Я счастлива, что я и моя семья наконец-то ни в чем не нуждаются. И все это благодаря Money Amulet.
                    </div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Brice Hodge,</div>
                    <div class="commits__age">30 лет</div>
                    <div class="commits__description">
                        Я работал таксистом и как-то подвозил парня, который рассказал безумную историю. Он купил Money Amulet и за год стал долларовым миллионером, играя на бирже. Я конечно ему не поверил, но через неделю увидел его фото в газете. Я был в шоке и решил тоже купить себе амулет. Нашел официальный сайт, заказал и носил не снимая. Через 2 недели я очень удачно купил пакет акций, хотя особо не понимал в этом ничего. Действовал интуитивно, будто меня кто-то направлял. Вскоре я профессионально занялся трейдингом в интернете. Доходом распоряжался с умом, делая инвестиции. Сейчас на моем счету больше полмиллиона долларов. Амулет не снимал с себя с момента покупки.
                    </div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Lily Barnett,</div>
                    <div class="commits__age">42 года</div>
                    <div class="commits__description">
                        Мой муж взял большой кредит на дело и потерял все! Не знаю почему так вышло, ведь он все просчитал. Первый год было очень тяжело выплачивать долг. Мы даже лишились машины, которая была дополнительным заработком. А потом появилась угроза потерять и дом. Я была в полном отчаянии. Хорошо, что случайно нашла Money Amulet в интернете. Заказала на официальном сайте по предоплате, доставили быстро курьерской службой. Но самое главное, амулет спас нас! Как только я и муж стали такой носить, то дела пошли в гору. Появились новые бизнес-партнеры, за полгода мы смогли расплатиться с огромным долгом и даже купили новую машину.
                    </div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
