
<section class="section section_expectation">
    <%- include('gold') %>
    <div class="container">
        <div class="expectation">
            <div class="section__title expectation__title">Как долго ждать эффект?</div>
            <div class="expectation__description">В течение месяца ваше материальное состояние улучшится, и удача будет способствовать во всех начинаниях.</div>
        </div>
    </div>
</section>
