<section class="section section_failures">
    <div class="container">
        <div class="failures">
            <div class="section__title failures__title">Устали от <mark>безденежья и неудач?</mark></div>
            <div class="failures__sub-title">Возможно, вам знакомы такие ситуации:</div>
            <div class="failures__box">
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-1.jpg" alt=""></div>
                    <figcaption class="failures__description">Направили все силы и сбережения в проекты, которые не оправдали своих ожиданий.</figcaption>
                </figure>
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-2.jpg" alt=""></div>
                    <figcaption class="failures__description">Упорно работаете, но мало зарабатываете.</figcaption>
                </figure>
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-3.jpg" alt=""></div>
                    <figcaption class="failures__description">Создается впечатление будто удача отвернулась от вас.</figcaption>
                </figure>
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-4.jpg" alt=""></div>
                    <figcaption class="failures__description">Притягиваете неприятности и не можете извлечь выгоду даже из самого выигрышного дела.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
