
<div class="form">
    <div class="form__title">Заказать money amulet</div>
    <div class="form__price">
        <div class="form__price-old">1000 lek</div>
        <div class="form__price-new">490 lek</div>
    </div>
    <div class="form__box">
        <label class="form__label form__label_select">
            <select class="form__field form__select">
                <option selected></option>
                <option>1</option>
                <option>2</option>
            </select>
            <span>Страна:</span>
        </label>
        <label class="form__label">
            <input class="form__field" type="text">
            <span>Имя:</span>
        </label>
        <label class="form__label">
            <input class="form__field" type="text">
            <span>Телефон:</span>
        </label>
        <button class="form__btn">Заказать</button>
    </div>
</div>
