<div class="gold">
    <div class="gold__item gold__item_1"></div>
    <div class="gold__item gold__item_2"></div>
    <div class="gold__item gold__item_3"></div>
    <div class="gold__item gold__item_4"></div>
    <div class="gold__item gold__item_5"></div>
    <div class="gold__item gold__item_6"></div>
    <div class="gold__item gold__item_7"></div>
    <div class="gold__item gold__item_8"></div>
    <div class="gold__item gold__item_9"></div>
    <div class="gold__item gold__item_10"></div>
</div>
