<head>
    <meta charset="utf-8">
    <title>Money Amulet</title>
    <meta name="description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Money Amulet, amulet, money">
    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Money Amulet">
    <!-- описание страницы -->
    <meta property="og:description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Money Amulet">
    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Money Amulet">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
