
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__info">
                <div class="section__title help__title"><mark>Money Amulet</mark> помогает разбогатеть</div>
                <div class="help__description">
                    <span>
                        Сплав и нанесение древней символики делается на растущую луну. Маг проводит специальный обряд, который заражает монету божественной энергией, дарующей удачу и богатство, и передает ее будущему владельцу.
                    </span>
                    <span>
                        Амулет начнет работать только тогда, <mark>когда его владелец закончит начатый ритуал.</mark>
                    </span>
                </div>
            </div>
            <div class="help__box">
                <figure class="help__item">
                    <div class="help__media">
                        <img src="../media/help/img-1.jpg" alt="">
                    </div>
                    <figcaption class="help__item-description">
                        Очистите амулет через подсоленную воду – так вы снимите с него чужую энергетику.
                    </figcaption>
                </figure>
                <figure class="help__item">
                    <div class="help__media">
                        <img src="../media/help/img-2.jpg" alt="">
                    </div>
                    <figcaption class="help__item-description">
                        Положите его на три ночи под свою подушку вместе с деньгами (чем выше достоинство, тем сильнее энергия).
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
