
<section class="section section_luck">
    <div class="container">
        <div class="luck">
            <div class="section__title luck__title">Money Amulet – талисман, приносящий удачу и благосостояниес древнейших времен</div>
            <div class="luck__description">
                <span>
                    В древних памятниках письменности есть упоминание о "Монете Солнца", которая дарует своему обладателю способность предвидеть события и извлекать максимум прибыли за короткий срок. По легенде, владеющий амулетом – владеет миром.
                </span>
                <span>
                    В начале 20 века археолог-путешественник нашел древнее племя, в котором хранился прототип амулета. Скопировав символику и проведя специальный обряд, археолог зафиксировал, что монета начала приносить фантастическую удачу и даровать благосостояние. Ритуал и изготовление археолог описал в дневниковых записях, которые недавно были найдены и расшифрованы.
                </span>
            </div>
        </div>
    </div>
</section>
