
<section class="section section_order">
    <div class="container">
        <div class="order">
            <div class="section__title order__title">Как заказать?</div>
            <div class="order__box">
                <div class="order__item">
                    <div class="order__media">
                        <img src="../media/order/img-1.png" alt="">
                    </div>
                    <div class="order__description">Заполните форму заказа</div>
                </div>
                <div class="order__item">
                    <div class="order__media">
                        <img src="../media/order/img-2.png" alt="">
                    </div>
                    <div class="order__description">Дождитесь звонка оператора</div>
                </div>
                <div class="order__item">
                    <div class="order__media">
                        <img src="../media/order/img-3.png" alt="">
                    </div>
                    <div class="order__description">Получите бесплатную консультацию</div>
                </div>
                <div class="order__item">
                    <div class="order__media">
                        <img src="../media/order/img-4.png" alt="">
                    </div>
                    <div class="order__description">Подтвердите заказ</div>
                </div>
                <div class="order__item">
                    <div class="order__media">
                        <img src="../media/order/img-5.png" alt="">
                    </div>
                    <div class="order__description">Внесите предоплату либо оплатите товар при получении</div>
                </div>
                <div class="order__item">
                    <div class="order__media">
                        <img src="../media/order/img-6.png" alt="">
                    </div>
                    <div class="order__description">Получите товар курьерской службой</div>
                </div>
            </div>
        </div>
    </div>
</section>
