
<section class="section section_progress">
    <div class="container">
        <div class="progress">
            <div class="section__title progress__title">Какие изменения начнут <mark>происходить в вашей жизни?</mark></div>
            <div class="progress__box">
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-1.png" alt=""></div>
                    <figcaption class="progress__description">Улучшится финансовое благополучие</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-2.png" alt=""></div>
                    <figcaption class="progress__description">Станет сопутствовать удача в жизни</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-3.png" alt=""></div>
                    <figcaption class="progress__description">Произойдет стремительный карьерный рост</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-4.png" alt=""></div>
                    <figcaption class="progress__description">Сможете быстро и легко достигать поставленных целей</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-5.png" alt=""></div>
                    <figcaption class="progress__description">Возникнет мощный блок от негативной энергии</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
