
<section class="section section_secret">
    <div class="container">
        <div class="secret">
            <div class="section__title secret__title">Money Amulet – секрет вашей новой беззаботной жизни</div>
            <div class="secret__btn">Заказать Money Amulet</div>
        </div>
    </div>
</section>
