
<div class="warning">
    <div class="section__title warning__title">Остерегайтесь <mark>подделок!</mark></div>
    <div class="warning__product">
        <img src="../media/warning/product.png" alt="">
    </div>
    <div class="warning__description">
        Наша компания единственный производитель. Заказать Money Amulet можно только на этом сайте.
        <span>Обученные  мастера используют специальный материал и соблюдают правила древнего обряда.</span>
    </div>
</div>
