
.secret__title {
    max-width: 565px;
    margin-bottom: 50px;
    font-size: 58px;
    line-height: 58px;
}

.secret__btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    background: rgb(244, 199, 66);
    background: linear-gradient(180deg, rgba(244, 199, 66, 1) 0%, rgba(242, 167, 40, 1) 70%);
    border-radius: 40px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .5);
    transition: .3s;

    &:hover {
        box-shadow: none;
        transform: scale(0.95);
    }
}

@media (max-width: 1030px) {
    .secret__title {
        font-size: 47px;
        line-height: .9;
        color: #fff;
    }

    .secret__btn {
        box-shadow: 0 0 15px 0 rgba(255, 255, 255, .4);
    }
}

@media (max-width: 480px) {
    .secret {
        text-align: center;
    }

    .secret__title {
        font-size: 37px;
        text-align: center;
    }
}
